*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;  
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.5rem;
  box-sizing: border-box;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  line-height: 1.55; 

  @media screen and (max-width: 40.625em) {
    font-size: 1.45rem;
    line-height: 1.5; 
  }
}

.container {
  background-color: darken(#030041, 2.5%);
  overflow: hidden;

  @media screen and (max-width: 40.625em) {
    background-color: darken(#030041, 4.5%);
  }
}

::selection {
  background-color: #999;
}

